body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5E8C7;
  color: #9E7777;
}

h1, h2, h3{
  color: whitesmoke;
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-brown{
  text-decoration: none;
  margin: 20px, 0, 20px, 0;
  border: 2px solid;
  border-radius: 5%;
  padding: 2%;
  background-color: rgba(255, 0, 0, 0.7);
  animation: myfirst 5s linear 2s infinite alternate;
  color: whitesmoke;
  font-style: italic;
  border-radius: 2%;
  font-weight: bold;
  transition: 500ms;
  font-size: 1vw;
}

.btn-brown:hover{
  padding: 4%;
  font-size: 1.2vw;
  border-radius: 30%;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.list-inline > li{
  display: inline-block;
  padding: 0px 20px;
}

ul{
  padding:0px;
}

.heading-beige{
  color: #9E7777;
}

#social > li > a {
  color: #AC7088;
  font-size: 50px;
  transition: 400ms;
}

#social > li > a:hover {
  color: #CEAB93;
}

@keyframes myfirst {
  0%   {background-color:rgba(255, 0, 0, 0.5);}
  25%  {background-color:rgba(255, 255, 0, 0.5);}
  50%  {background-color:rgba(0, 0, 255, 0.5);}
  75%  {background-color:rgba(0, 255, 0, 0.5);}
  100% {background-color:rgba(255, 0, 0, 0.5);}
}

.top-color-profile{
  color:whitesmoke;
  text-align: center;
  border: 1px solid #CEAB93;
  background-image: linear-gradient(to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4)
  ), url(https://source.unsplash.com/random/?music);
  background-size: cover;
  border-radius: 4px;
  padding: 40px;
  margin: 20px 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .05)
}

.color-profile{
  text-align: center;
  border: 1px solid #CEAB93;
  background-color: #DEBA9D;
  border-radius: 4px;
  padding: 40px;
  margin: 20px 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .05)
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 200px;
  }
}
